AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ALERT_EMAIL=alerts@example.com
DBT_PROJECT_HOST_DIR=../flight_dbt
DBT_PROFILES_HOST_DIR=./dbt
